body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4C2C2;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    text-align: center;
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

#yesButton {
    background-color: #4CAF50; /* Green */
}

#noButton {
    background-color: #FF0000; /* Red */
}

@media only screen and (max-width: 600px) {
    .header_text {
        font-size: 30px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
